*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*font-size: 1rem;*/
}

.wrapper {
    min-height: 100vh;
    -webkit-background-size:cover;
    background-size:cover;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    color: #000;
}

.form{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
}

.wrap{
    box-sizing: border-box;
    background-color: #e8e8e8;
    height: 56px;
    padding: 0px 24px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

h1{
    font-size: 20px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.4);
}
.label{
    margin-top: 16px;
}

.subLabel{
    font-size: 12px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.4);
}

.link{
    font-size: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-wrapper{
    display: flex;
    flex-direction: row;
}

.admin-right{
    margin-left:10px;
}